# LOCAL POSTGRESQL DATABASE
PG_USER=
PG_HOST=
PG_DATABASE=
PG_PASSWORD=
PG_PORT=
ADMIN_CODE=

POSTGRES_USER= postgres
POSTGRES_PASSWORD= justmondlisok
POSTGRES_DB= "recipe-site"


# #DOCKER POSTGRESQL DATABASE
 
# PG_USER=
# PG_HOST=
# PG_DATABASE=
# PG_PASSWORD=
# PG_PORT=
# ADMIN_CODE=


# # KUBERNETES POSTGRESQL DATABASE

# PG_USER=
# PG_HOST=
# PG_DATABASE=
# PG_PASSWORD=
# PG_PORT=
# ADMIN_CODE=
