<%- include("partials/header.ejs") %>


<% recipes.forEach(recipe => { %>
      <div class="recipe-card">
            <form action="/get_recipe/:<%=recipe.recipe_id%>" method="post">
                  <button>
                    <h2 class="recipe-name"> <%= recipe.recipe_name %> </h2>
                  </button>
            </form>
      </div>
<% }) %>



<script>

</script>

<%- include("partials/footer.ejs") %>