<%- include("partials/header.ejs") %>
<div class="center-box">
<form action="/login" method="post" class=" form register-form">
     <h2>Loginn below</h2>
      <input placeholder="Email" type="email" name="email">

      
      <input placeholder="Password" type="password" name="password">
      <button class="submit-form-button" type="submit">Login</button>
</form>

</div>

<%- include("partials/footer.ejs") %>