<%- include("partials/header.ejs") %>

<div class="center-box">
      
      <form method="post" action="/register" class=" form register-form">
            <h2>Sign up below</h2>
      
      <input placeholder="Name" required  type="text" name="name">

      
      <input placeholder="Email" required type="email" name="email">

      
      <input placeholder="Password" required type="password" name="password">


      <button class="submit-form-button">Register</button>
</form>

<form action="/login" method="get">
     <p>Already have an Account? <button class="login-redirect">login</button></p>
</form>
</div>
      
<%- include("partials/footer.ejs") %>